body{
	background-image: url("background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	overflow-x: hidden;

}

/*-------------------------------navbar----------------------------------------------*/
.nav1{
	font-size: 14px;
	font-weight: bold;
	background-color: #122;
	width: 100%;
	padding:0px;
}
.nav1 .input-group .form-control{
	background-color: #144;
	color:#ccc;
	float: right;
}

.list-item{
	margin-right: 8px;
}
.list{
	float: left;
}
#collist{
	float: right;
}
.row1{
	padding:5px 15px 5px 15px;
	width: 100%;
}

.row1 .co-logo{
	width:9%;
	margin-left: 1%;
	float:left;
}

.row1 .co-menu{
	width:90%;
	float:left;
}
.row1 .co-3{
	width:20%;
	float: left;
}
.row1 .co-9{
	width:80%;
	float: left;
}
/*-------------------------------carousel----------------------------------------------*/

.crou{
	margin-top: 3em;
	width:100%;
}
.crou .row .col-12{
	width:100%;
	margin:0;
	padding:0;
}


/*-------------------------------title2 pictures----------------------------------------------*/
.title2{
		margin-top:10px;
}


#pic1{
	width:100%;
	height: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
}
#bloc:hover{
	display: block;
	padding: 18px;
}
#bloc{
	
	color:black;
	padding:10px 10px 10px 10px;
	width:85%;
	margin-bottom: 50px;
}



/*-------------------------------title3 updates----------------------------------------------*/

.title3{
	padding: 20px;
	
}
.updates{
	background-color: #380838;
	margin-bottom: 20px;
}
.headline{
	text-align: center;
	
}
.disc{
	font-weight: bold;
	color:#aaa;
}
hr{
	border-top: 1px solid rgba(255,255,255,.3);
}
.readmore{
	margin-top:20px;
	margin-bottom:20px;
}


/*-------------------------------footer----------------------------------------------*/

footer{
	background-color: #122;
	padding:20px;
}

a{
	color:#fff;
}
a:hover{
	color:orange;
	text-decoration: none;
}



/*-------------------------------detail title1--------------------------------------------*/

.title1{
	background-color: #111;
	padding-top: 10px;

}

