.nav1{
	font-size: 14px;
	font-weight: bold;
	background-color: #122;
}
.nav1 .input-group .form-control{
	background-color: #144;
	float:right;
	color:#ccc;
}
.list-item{
	margin-right: 8px;
}
.list{
	float: left;
	margin-left: 200px;
}
body{
	background-image: url("background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
}


#pic1{
	width:100%;
	height: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
}

.img-fluid:hover{
	width:95%;
	background-size: 90%;
	display: block;
}
#bloc{
	
	color:black;
	padding:20px 10px 10px 10px;
	width:85%;
	margin-bottom: 50px;
}

.crou{
	height: 600px;
}
.title1{
	background-color: #111;
	padding-top: 10px;

}
.title2{
		margin-top:71.79px;
}
.title3{
	padding: 20px;
	
}
.updates{
	background-color: #380838;
	margin-bottom: 20px;
}
.headline{
	text-align: center;
	
}
.disc{
	font-weight: bold;
	color:#aaa;
}
hr{
	border-top: 1px solid rgba(255,255,255,.3);
}
.readmore{
	margin-top:20px;
	margin-bottom:20px;
}
.title4{
	background-color: #480848;
	height: 200px;


}
.title5{
	background-color: #580858;
	height: 200px;
}
.title6{
	background-color: #680868;
	height: 200px;

}
footer{
	background-color: #122;
	padding:20px;
}

a{
	color:#fff;
}
a:hover{
	color:orange;
	text-decoration: none;
}